name: Flask Ci workflow 

on:
  push:
    branches: [ "main" ]
    paths:
      - '02-backend-app-statefulset/api-flask/**'

jobs:
  unit-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./02-backend-app-statefulset/api-flask

    steps:
        - uses: actions/checkout@v5
        - name: Set up python
          
          uses: actions/setup-python@v5
          with:
            python-version: 3.10.0

        - name: Display python version
          run: python -c "import sys; print(sys.version)"