name: Flask Ci workflow 

on:
  push:
    branches: [ "main" ]
    paths:
      - '02-backend-app-statefulset/api-flask/**'

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./02-backend-app-statefulset/api-flask

    steps:
        - uses: actions/checkout@v5
          
        - name: Set up python
          uses: actions/setup-python@v4
          with:
            python-version: "3.10"

        - name: Install dependencies
          run: |
            pip install --upgrade pip
            pip installl -r requirements.txt

        - name: Run tests with pytest
          run: pytest --cov=src --cov-report=xml 

        - name: Upload coverage to Codecov
          uses: codecov/codecov-action@v3
          with:
            directory: ./02-backend-app-statefulset/api-flask/